.table {
  border-collapse: collapse;

  th, td {
    padding: 10px;
    border: 1px solid $black;
  }

  th {
    background: $blueLight;
    color: $white;
    cursor: pointer;

    &:hover {
      background: $blueDark;
    }
  }
}
