// imports + style resets

@import-normalize;
@import 'assets/styles/global';

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), url(./assets/fonts/NotoSans-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), url(./assets/fonts/NotoSans-SemiBold.ttf) format('truetype');
  font-weight: bold;
}