// --- colors ---

$black: #000;
$white: #fff;
$dark: #383636;
$lighter: #f3f3f3;
$light: #dfdfdf;
$grayLight: #d1d1d1;
$blueDark: #192a55;
$blueDarker: #080066;
$blue: #152271;
$blueLight: #2e3e97;
$green: #095b3f;
$greenDark: #064632;
$greenDarker: #043325;

// --- viewports ---
$phablet: 580px;